Repository matteing/opal: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, cli-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: pnpm nx run core:lint
    cli-lint:
      glob: "*.{ts,tsx,json,js}"
      run: pnpm nx run cli:lint

doc: readme
  README.md
Due: none

chore(release): 0.1.10
  cli/package.json
Due: cli-lint

feat(ci): add agent skills and session-start hook
  .claude/hooks/session-start.sh
  .claude/settings.json
  .claude/skills/ci-preflight/SKILL.md
  .claude/skills/codegen-sync/SKILL.md
  .claude/skills/git/SKILL.md
  .claude/skills/lint-and-format/SKILL.md
  .claude/skills/live-tests/SKILL.md
Due: cli-lint

feat: cleanliness refactors
  AGENTS.md
  core/lib/opal/agent.ex
  core/lib/opal/agent/tool_runner.ex
  core/lib/opal/auth.ex
  core/lib/opal/config.ex
  core/lib/opal/provider/copilot.ex
  core/lib/opal/provider/stream_collector.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/session/builder.ex
  core/lib/opal/session/compaction.ex
  core/lib/opal/sub_agent.ex
  core/lib/opal/tool/sub_agent.ex
  core/mix.exs
  core/test/opal/agent/lifecycle_test.exs
  core/test/opal/agent_test.exs
  core/test/opal/live_thinking_test.exs
  core/test/opal/provider/stream_collector_test.exs
  core/test/opal/rpc/handler_test.exs
  core/test/opal/rpc/stdio_test.exs
  core/test/opal/session/compaction_integration_test.exs
  core/test/opal/session_server_test.exs
  core/test/opal/sub_agent_test.exs
  core/test/opal/thinking_integration_test.exs
  core/test/support/fixtures/chat_completions_no_thinking.json
  core/test/support/fixtures/chat_completions_thinking.json
  core/test/support/fixtures/chat_completions_thinking_high.json
  core/test/support/fixtures/chat_completions_thinking_low.json
  core/test/support/fixtures/chat_completions_thinking_medium.json
  core/test/support/fixtures/chat_completions_thinking_tool_call.json
  core/test/support/fixtures/compaction_split_history.json
  core/test/support/fixtures/compaction_split_prefix.json
  core/test/support/fixtures/compaction_summary.json
  core/test/support/fixtures/compaction_summary_update.json
  core/test/support/fixtures/responses_api_thinking.json
  core/test/support/fixtures/responses_api_thinking_tool_call.json
  docs/reasoning.md
  docs/testing.md
  scripts/sync-elixir-version.mjs
Due: elixir-format, cli-lint

feat: rewrite agent loop using gen_fsm
  core/lib/opal.ex
  core/lib/opal/agent/agent.ex
  core/lib/opal/agent/compaction.ex
  core/lib/opal/agent/effects.ex
  core/lib/opal/agent/reducer.ex
  core/lib/opal/agent/retries.ex
  core/lib/opal/agent/state.ex
  core/lib/opal/agent/stream.ex
  core/lib/opal/agent/tools.ex
  core/lib/opal/sub_agent.ex
  core/lib/opal/tool/sub_agent.ex
  core/test/opal/tool/sub_agent_question_test.exs
  docs/agent-loop.md
  docs/cli.md
  docs/index.md
  docs/otp.md
  docs/reasoning.md
  docs/supervision.md
  docs/tools/sub-agent.md
Due: elixir-format

Add debugging skill for debug_state tool introspection
  .claude/skills/debugging/SKILL.md
  cli/src/app.tsx
  cli/src/bin.ts
  cli/src/components/ask-user-dialog.tsx
  cli/src/components/bottom-bar.tsx
  cli/src/components/device-auth.tsx
  cli/src/components/opal-menu.tsx
  cli/src/components/stable-text-input.tsx
  cli/src/hooks/use-opal.ts
  cli/src/sdk/protocol.ts
  cli/src/sdk/session.ts
  core/lib/opal.ex
  core/lib/opal/agent/agent.ex
  core/lib/opal/agent/event_log.ex
  core/lib/opal/agent/state.ex
  core/lib/opal/agent/stream.ex
  core/lib/opal/agent/tool_runner.ex
  core/lib/opal/agent/usage_tracker.ex
  core/lib/opal/config.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/rpc/protocol.ex
  core/lib/opal/session/builder.ex
  core/lib/opal/tool/debug.ex
  core/lib/opal/tool/file_helper.ex
  core/lib/opal/tool/read.ex
  core/lib/opal/tool/write.ex
  core/test/opal/live_thinking_test.exs
  core/test/opal/rpc/handler_test.exs
  core/test/opal/rpc/protocol_test.exs
  core/test/opal/tool/debug_test.exs
  core/test/opal/tool/read_test.exs
  core/test/opal/tool/write_test.exs
  docs/cli.md
  docs/integrating.md
  docs/rpc.md
  docs/tools.md
  docs/tools/debug.md
  lefthook.yml
  package.json
Due: elixir-format, cli-lint

feat: agent introspection
  README.md
  docs/cli.md
Due: none

chore(release): 0.1.11
  cli/package.json
Due: cli-lint

chore(release): 0.1.12
  cli/package.json
Due: cli-lint

Execute tool calls in parallel instead of sequentially
  core/lib/opal/agent/agent.ex
  core/lib/opal/agent/state.ex
  core/lib/opal/agent/tool_runner.ex
  core/lib/opal/agent/tools.ex
  core/lib/opal/tool/debug.ex
  core/test/opal/agent/parallel_tools_test.exs
  docs/supervision.md
Due: elixir-format

feat(agent): add parallel tool call and sub-agent guidelines to system prompt
  core/lib/opal/agent/system_prompt.ex
  core/test/opal/agent/system_prompt_test.exs
Due: elixir-format

feat: tool call parallelization, tasks tool is better
  cli/src/components/message-list.tsx
  cli/src/hooks/use-opal.ts
  cli/src/sdk/protocol.ts
  cli/src/sdk/session.ts
  core/lib/opal/agent/stream.ex
  core/lib/opal/agent/tool_runner.ex
  core/lib/opal/inspect.ex
  core/lib/opal/provider.ex
  core/lib/opal/provider/copilot.ex
  core/lib/opal/provider/openai.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/rpc/protocol.ex
  core/lib/opal/tool/tasks.ex
  core/test/opal/agent/parallel_sub_agent_tool_calls_test.exs
  core/test/opal/agent/stream_test.exs
  core/test/opal/live_thinking_test.exs
  core/test/opal/provider/copilot_test.exs
  core/test/opal/provider/openai_test.exs
  core/test/opal/tool/tasks_test.exs
  docs/cli.md
  docs/tools/tasks.md
  scripts/codegen_ts.exs
Due: elixir-format, cli-lint

feat: add crash resilience, heartbeat, and abort repair
  cli/src/app.tsx
  cli/src/components/message-list.tsx
  cli/src/hooks/use-opal.ts
  cli/src/sdk/client.ts
  cli/src/sdk/protocol.ts
  cli/src/sdk/session.ts
  core/lib/opal/agent/agent.ex
  core/lib/opal/config.ex
  core/lib/opal/inspect.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/rpc/protocol.ex
  core/lib/opal/rpc/stdio.ex
  core/lib/opal/session.ex
  docs/index.md
  docs/resilience.md
  docs/tools.md
Due: elixir-format, cli-lint

docs: remove naming conventions link from tools.md
  docs/tools.md
Due: none

test(core): increase elixir core test coverage to 80%
  core/mix.exs
  core/test/opal/agent/collector_test.exs
  core/test/opal/agent/compaction_test.exs
  core/test/opal/agent/retries_test.exs
  core/test/opal/agent/stream_test.exs
  core/test/opal/agent/tool_runner_helpers_test.exs
  core/test/opal/agent/tool_runner_test.exs
  core/test/opal/agent/usage_tracker_test.exs
  core/test/opal/auth_test.exs
  core/test/opal/config_extended_test.exs
  core/test/opal/inspect_test.exs
  core/test/opal/provider/copilot_test.exs
  core/test/opal/provider/llm_test.exs
  core/test/opal/provider/stream_collector_test.exs
  core/test/opal/rpc/handler_test.exs
  core/test/opal/skill_test.exs
  core/test/opal/tool/debug_test.exs
  core/test/opal/tool/shell_test.exs
  core/test/opal/tool/sub_agent_test.exs
  core/test/opal/tool/tasks_test.exs
  core/test/opal/tool/use_skill_test.exs
  core/test/opal_test.exs
Due: elixir-format

test(core): add comprehensive failure mode and resilience tests
  core/lib/opal/agent/agent.ex
  core/test/opal/agent/abort_resilience_test.exs
  core/test/opal/agent/compaction_failure_test.exs
  core/test/opal/agent/concurrent_signals_test.exs
  core/test/opal/agent/provider_errors_test.exs
  core/test/opal/agent/recovery_test.exs
  core/test/opal/agent/retry_policy_test.exs
  core/test/opal/agent/state_machine_test.exs
  core/test/opal/agent/stream_resilience_test.exs
  core/test/opal/agent/sub_agent_failure_test.exs
  core/test/opal/agent/supervisor_failure_test.exs
  core/test/opal/agent/tool_crash_test.exs
  core/test/opal/mcp_failure_test.exs
  core/test/opal/session_resilience_test.exs
Due: elixir-format

test(cli): add vitest test suite with 95% coverage
  cli/package.json
  cli/project.json
  cli/src/__tests__/client.test.ts
  cli/src/__tests__/formatting.test.ts
  cli/src/__tests__/parsers.test.ts
  cli/src/__tests__/reducers.test.ts
  cli/src/__tests__/resolve.test.ts
  cli/src/__tests__/session.test.ts
  cli/src/__tests__/transforms.test.ts
  cli/src/components/bottom-bar.tsx
  cli/src/components/message-list.tsx
  cli/src/hooks/use-opal.ts
  cli/src/lib/formatting.ts
  cli/src/lib/parsers.ts
  cli/src/lib/reducers.ts
  cli/vitest.config.ts
  pnpm-lock.yaml
Due: cli-lint

test(cli): add comprehensive hook, failure mode, and integration tests
  .gitignore
  cli/package.json
  cli/src/__tests__/auth.test.ts
  cli/src/__tests__/client-failures.test.ts
  cli/src/__tests__/commands.test.ts
  cli/src/__tests__/event-ordering.test.ts
  cli/src/__tests__/helpers/mock-session.ts
  cli/src/__tests__/integration-failures.test.ts
  cli/src/__tests__/opal-menu.test.ts
  cli/src/__tests__/session-extended.test.ts
  cli/src/__tests__/session-failures.test.ts
  cli/src/__tests__/transforms-edge.test.ts
  cli/src/__tests__/use-opal.test.tsx
  cli/src/__tests__/utils.test.ts
  cli/src/hooks/use-opal.ts
  cli/src/lib/auth.ts
  cli/src/lib/commands.ts
  cli/src/lib/opal-menu.ts
  cli/vitest.config.ts
  pnpm-lock.yaml
Due: cli-lint

refactor(cli): improve test readability with shared helpers
  cli/src/__tests__/client-failures.test.ts
  cli/src/__tests__/event-ordering.test.ts
  cli/src/__tests__/helpers/mock-process.ts
  cli/src/__tests__/integration-failures.test.ts
  cli/src/__tests__/session-extended.test.ts
  cli/src/__tests__/session-failures.test.ts
  cli/src/__tests__/transforms-edge.test.ts
Due: cli-lint

chore(ci): consolidate CI workflow and improve lefthook hooks
  .github/workflows/ci.yml
  lefthook.yml
Due: none

ci: move tests to CI-only and use nx affected in precommit
  lefthook.yml
  package.json
Due: cli-lint

feat: session persistence recovery, more reliable OTP behaviors on malformed messages
  docs/conversation-integrity.md
  docs/erlang.md
  docs/index.md
  docs/inspecting.md
  docs/resilience.md
  docs/session.md
  package.json
  packages/cli/src/app.tsx
  packages/cli/src/bin.ts
  packages/cli/src/hooks/use-opal.ts
  packages/cli/src/sdk/protocol.ts
  packages/core/lib/opal/agent/agent.ex
  packages/core/lib/opal/agent/state.ex
  packages/core/lib/opal/agent/stream.ex
  packages/core/lib/opal/application.ex
  packages/core/lib/opal/context.ex
  packages/core/lib/opal/message.ex
  packages/core/lib/opal/model.ex
  packages/core/lib/opal/provider.ex
  packages/core/lib/opal/rpc/handler.ex
  packages/core/lib/opal/rpc/protocol.ex
  packages/core/lib/opal/session.ex
  packages/core/lib/opal/session/builder.ex
  packages/core/lib/opal/session/compaction.ex
  packages/core/lib/opal/session_server.ex
  packages/core/test/opal/agent/conversation_integrity_test.exs
  scripts/inspect.sh
Due: elixir-format, cli-lint

feat: integration testing, fixes for issues with skills
  .claude/skills/debugging/SKILL.md
  docs/integrating.md
  packages/cli/src/app.tsx
  packages/cli/src/components/rpc-panel.tsx
  packages/cli/src/hooks/use-opal.ts
  packages/cli/src/lib/commands.ts
  packages/cli/src/sdk/client.ts
  packages/cli/src/sdk/session.ts
  packages/core/lib/opal/agent/agent.ex
  packages/core/lib/opal/application.ex
  packages/core/lib/opal/rpc/stdio.ex
  packages/core/test/opal/agent/conversation_integrity_test.exs
  scripts/inspect.sh
  scripts/opal-rpc.exs
  scripts/opal-session.exs
Due: elixir-format, cli-lint

feat: tests for integrity of conversations (agent skill issue)
  packages/core/lib/opal/agent/tool_runner.ex
  packages/core/test/opal/agent/conversation_integrity_test.exs
Due: elixir-format

feat: better debug capabilities
  README.md
  packages/cli/src/__tests__/formatting.test.ts
  packages/cli/src/__tests__/markdown.test.ts
  packages/cli/src/__tests__/message-list.test.tsx
  packages/cli/src/__tests__/use-opal.test.tsx
  packages/cli/src/app.tsx
  packages/cli/src/components/message-list.tsx
  packages/cli/src/hooks/use-opal.ts
  packages/cli/src/lib/formatting.ts
  packages/cli/src/lib/markdown.ts
  packages/cli/src/lib/message-theme.ts
  packages/cli/src/lib/reducers.ts
  packages/core/lib/opal/agent/agent.ex
Due: elixir-format, cli-lint

feat: dedupe edit tool
  docs/system-prompt.md
  docs/tools.md
  docs/tools/edit.md
  packages/core/lib/opal/config.ex
  packages/core/lib/opal/session/compaction.ex
  packages/core/lib/opal/tool/edit.ex
  packages/core/lib/opal/tool/edit/fuzzy.ex
  packages/core/lib/opal/tool/edit_lines.ex
  packages/core/test/opal/tool/edit/fuzzy_test.exs
  packages/core/test/opal/tool/edit_lines_test.exs
  packages/core/test/opal/tool/edit_test.exs
Due: elixir-format

refactor(cli): simplify server resolution and dev workflow
  .mise.toml
  cli/package.json
  cli/src/__tests__/formatting.test.ts
  cli/src/__tests__/resolve.test.ts
  cli/src/lib/formatting.ts
  cli/src/sdk/resolve.ts
Due: cli-lint

feat(core): add Phase 3 DX improvements
  examples/basic_prompt.exs
  examples/custom_tool.exs
  examples/streaming.exs
  lib/opal.ex
  lib/opal/provider.ex
  lib/opal/tool.ex
  scripts/codegen_ts.exs
  test/opal/provider/macro_test.exs
  test/opal/stream_test.exs
  test/opal/tool/macro_test.exs
Due: elixir-format

docs: showcase Opal.stream/2 and use Opal.Tool in README
  README.md
Due: none

feat(cli): add subcommands, headless mode, and --version
  cli/src/__tests__/resolve.test.ts
  cli/src/app.tsx
  cli/src/bin.ts
  cli/src/commands/auth.ts
  cli/src/commands/doctor.ts
  cli/src/commands/headless.ts
  cli/src/commands/session.ts
  cli/src/commands/version.ts
  cli/src/sdk/protocol.ts
  cli/src/sdk/resolve.ts
  lib/mix/tasks/opal.gen.json_schema.ex
  lib/opal/rpc/handler.ex
  lib/opal/rpc/protocol.ex
  priv/rpc_schema.json
Due: elixir-format, cli-lint

test: add tests for Phase 4 RPC methods and CLI commands
  cli/src/__tests__/cli-commands.test.ts
  test/opal/rpc/handler_test.exs
Due: elixir-format, cli-lint

feat: add remote debugging via Erlang distribution
  .mise.toml
  cli/src/__tests__/opal-menu.test.ts
  cli/src/bin.ts
  cli/src/hooks/use-opal.ts
  cli/src/lib/opal-menu.ts
  cli/src/sdk/client.ts
  cli/src/sdk/protocol.ts
  cli/src/sdk/session.ts
  lib/opal/application.ex
  lib/opal/rpc/handler.ex
  priv/rpc_schema.json
Due: elixir-format, cli-lint
