Repository matteing/opal: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, cli-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: pnpm nx run core:lint
    cli-lint:
      glob: "*.{ts,tsx,json,js}"
      run: pnpm nx run cli:lint

doc: fixup docs
  README.md
  docs/assets/opal.gif
  docs/installing.md
  docs/integrating.md
Due: none

doc: readme
  README.md
  docs/integrating.md
Due: none

feat: auth wizard
  README.md
  cli/src/app.tsx
  cli/src/components/device-auth.tsx
  cli/src/hooks/use-opal.ts
  cli/src/sdk/protocol.ts
  cli/src/sdk/session.ts
  core/lib/opal/auth.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/rpc/protocol.ex
  docs/auth.md
  docs/index.md
  docs/providers.md
  nx.json
  scripts/sync-elixir-version.mjs
Due: elixir-format, cli-lint

chore(release): 0.3.0
  cli/package.json
  cli/src/sdk/protocol.ts
Due: cli-lint

fix: protocol missing things
  cli/src/sdk/protocol.ts
  docs/cli.md
  docs/integrating.md
  docs/providers.md
  docs/rpc.md
  docs/sdk.md
  scripts/codegen_ts.exs
Due: elixir-format, cli-lint

doc: fixup readme, release pipeline
  .github/workflows/release.yml
  AGENTS.md
  README.md
  core/README.md
  core/lib/opal/config.ex
  docs/agent-loop.md
  docs/cli.md
  docs/compaction.md
  docs/directories.md
  docs/inspecting.md
  docs/supervision.md
  docs/testing.md
  docs/tools.md
  docs/tools/edit.md
  docs/tools/read.md
  docs/tools/shell.md
  docs/tools/sub-agent.md
  docs/tools/tasks.md
  docs/tools/use-skill.md
  docs/tools/user-input.md
  docs/tools/write.md
Due: elixir-format

doc: clarify providers
  README.md
Due: none

chore(release): 0.4.0
  cli/package.json
Due: cli-lint

fix(ci): add specifier input to release workflow
  .github/workflows/release.yml
Due: none

fix(ci): trigger release on tag push, not workflow_dispatch
  .github/workflows/release.yml
Due: none

chore(release): 0.4.1
  cli/package.json
Due: cli-lint

fix(ci): bump Zig to 0.15.2 for Burrito 1.5.0
  .github/workflows/release.yml
Due: none

chore(release): 0.4.2
  cli/package.json
Due: cli-lint

fix(ci): drop macOS 13 (darwin_x64) build target
  .github/workflows/release.yml
Due: none

feat(ci): add Windows x64 build target
  .github/workflows/release.yml
Due: none

fix(ci): align Windows binary name across Burrito, CI, and CLI resolver
  .github/workflows/release.yml
  core/mix.exs
Due: elixir-format

chore(release): 0.4.3
  cli/package.json
Due: cli-lint

fix(ci): pin Windows runner to windows-2022 for setup-beam compat
  .github/workflows/release.yml
Due: none

chore(release): 0.4.4
  cli/package.json
Due: cli-lint

chore(release): reset version to 0.1.1
  cli/package.json
  core/mix.exs
Due: elixir-format, cli-lint

fix(test): add Code.ensure_loaded! before function_exported? checks
  core/test/opal/mcp/bridge_test.exs
  core/test/opal/tool/ask_parent_test.exs
  core/test/opal/tool/ask_user_test.exs
  core/test/opal/tool/edit_test.exs
  core/test/opal/tool/read_test.exs
  core/test/opal/tool/shell_test.exs
  core/test/opal/tool/write_test.exs
Due: elixir-format

chore(release): 0.1.2
  cli/package.json
Due: cli-lint

fix(ci): remove nonexistent cli/bin from artifact upload and publish
  .github/workflows/release.yml
  cli/package.json
Due: cli-lint

chore(release): 0.1.3
  cli/package.json
Due: cli-lint

feat: add readme core
  core/README.md
Due: none

chore(release): 0.1.4
  cli/package.json
Due: cli-lint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): set MIX_ENV=dev for hex publish so ex_doc is available
  .github/workflows/release.yml
Due: none

chore(release): 0.1.5
  cli/package.json
Due: cli-lint

fix(docs): remove non-existent extras from ex_doc config
  core/mix.exs
Due: elixir-format

chore(release): 0.1.6
  cli/package.json
Due: cli-lint

chore(release): 0.1.7
  cli/package.json
Due: cli-lint

fix(rpc): replace Port.open fd-based stdin with IO.read for Windows compatibility
  core/lib/opal/rpc/stdio.ex
Due: elixir-format

chore(release): 0.1.8
  cli/package.json
Due: cli-lint

fix: guard auth probe and RPC handler against crashes on Windows
  core/lib/opal/auth/copilot.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/rpc/stdio.ex
Due: elixir-format

feat: rewrite thinking effort, openai responses api, cli state reducer
  .formatter.exs
  cli/src/app.tsx
  cli/src/components/device-auth.tsx
  cli/src/components/message-list.tsx
  cli/src/components/token-bar.tsx
  cli/src/components/tool-status.tsx
  cli/src/hooks/use-opal.ts
  cli/src/open-url.ts
  cli/src/sdk/client.ts
  cli/src/sdk/session.ts
  core/lib/opal.ex
  core/lib/opal/agent.ex
  core/lib/opal/agent/stream.ex
  core/lib/opal/auth/copilot.ex
  core/lib/opal/inspect.ex
  core/lib/opal/message.ex
  core/lib/opal/model.ex
  core/lib/opal/models.ex
  core/lib/opal/provider.ex
  core/lib/opal/provider/copilot.ex
  core/lib/opal/provider/event_stream.ex
  core/lib/opal/provider/llm.ex
  core/lib/opal/provider/openai.ex
  core/lib/opal/rpc/handler.ex
  core/lib/opal/rpc/stdio.ex
  core/lib/opal/session.ex
  core/lib/opal/session/branch_summary.ex
  core/lib/opal/tool/sub_agent.ex
  core/test/opal/provider/event_stream_test.exs
  core/test/opal/provider/llm_test.exs
  core/test/opal/provider/openai_test.exs
  core/test/opal/reasoning_effort_test.exs
  docs/providers.md
  docs/reasoning.md
  scripts/patch_deps.exs
Due: elixir-format, cli-lint

chore(release): 0.1.9
  cli/package.json
Due: cli-lint

doc: minor work, formatting fixes
  README.md
  cli/src/hooks/use-opal.ts
  cli/src/open-url.ts
Due: cli-lint
